<!-- ref of mathjax config https://zishuaiz.github.io/blog/how-to-enable-mathjax-in-github-pages -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script>
 MathJax.Hub.Config({
     config: ["MMLorHTML.js"],
     extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js", "color.js"],
     jax: ["input/TeX"],
     tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         processEscapes: false
     },
     TeX: {
         TagSide: "right",
         TagIndent: ".8em",
         MultLineWidth: "85%",
         unicode: {
             fonts: "STIXGeneral,'Arial Unicode MS'"
         }
     },
     showProcessingMessages: false
 });
</script>

<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>

<!--enable to choose theme in octostrap-->
{% if page.bootstrap_theme_url %}
  <link href="{{ page.bootstrap_theme_url }}" rel="stylesheet" type="text/css">
{% else %}
  <link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
{% endif %}


<!-- link open with new tab  -->
<script>
  function addBlankTargetForLinks () {
  $('a[href^="http"]').each(function(){
  $(this).attr('target', '_blank');
  });
  }

  $(document).bind('DOMNodeInserted', function(event) {
  addBlankTargetForLinks();
  });
</script>
